<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Ticket Booking Project">
    <test name="TestCasesSuite">
        <parameter name="browserName" value="chrome"/>
        <groups>
			<run>
				<include name="smoke"/>
			</run>
			
		</groups>
        <classes>
            <class name="com.test.base.BaseClass"/>
            <class name="com.test.testcases.TC1_clickSearch"/>
             <class name="com.test.testcases.TC2_TrainDetailComparison"/>
        </classes>
    </test>
</suite>